.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 72px);
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 1600;
  transition: opacity 0.3s,
              visibility 0s ease 0.3s;
}

@include mobile {
  .blackout {
    &.js-show {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}
