.forms {
  &__select-block {
    width: 328px;
  }

  &__validation-title {
    @include font(18px, 24px, 500);
    color: $dark-grey;
    margin: 40px 0 0;
  }

  &__validation-desc {
    max-width: 612px;
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__example {
    padding: 40px;
    background-color: $grey200;
    margin-top: 24px;
    width: 75%;
    max-width: 612px;
  }

  &__example--pagination {
    max-width: 612px;

    a:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  &__alert-block {
    @include font(14px, 22px, 400);
    color: $dark-grey;
    background-color: #F4F4F8;
    padding: 32px;
    display: flex;
    margin-top: 40px;
  }

  &__alert-icon {
    width: 24px;
    height: 24px;
    background-image: url("../img/warning.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    margin-right: 19px;
  }

  &__box {
    width: 75%;
    margin-top: 40px;
    background-color: $grey200;
  }

  &__box--border {
    border: 1px dashed #7B61FF;
    border-radius: 5px;
  }

  &__block {
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 75%;
      max-width: 612px;
      height: 100%;
      border: 1px dashed #7B61FF;
      border-radius: 5px;
      pointer-events: none;

      // background-image:
      //   linear-gradient(to right, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to top, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to right, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to top, #7B61FF 66%, rgba(255,255,255,0) 0%);
      // background-position:
      //   bottom,
      //   left,
      //   top,
      //   right;
      // background-size:
      //   10px 1px,
      //   1px 10px,
      //   10px 1px,
      //   1px 10px;
      // background-repeat:
      //   repeat-x,
      //   repeat-y,
      //   repeat-x,
      //   repeat-y;
    }
  }

  &__block--input {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--date {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 357px;
      }
    }
  }

  &__block--date-states {
    padding: 72px 0 260px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }

    .forms__item-desc {
      margin-top: 24px;
    }
  }

  &__block--date-cells {
    padding: 45px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .forms__item-desc {
      margin-top: 7px;
    }
  }

  &__block--select {
    padding: 77px 0 88px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 260px;
      }
    }
  }

  &__block--textarea {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--dropdown {
    padding: 80px 0 20px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:nth-child(3) {
        margin-bottom: 230px;
      }
    }

    .forms__item-desc {
      margin-top: 5px;
    }
  }

  &__block--combo-select {
    padding: 77px 0 150px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 260px;
      }

      &:nth-child(7) {
        margin-bottom: 93px;
      }
    }
  }

  &__block--multi-select {
    padding: 77px 0 150px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 260px;
      }

      &:nth-child(8) {
        margin-bottom: 93px;
      }
    }
  }

  &__block--upload {
    padding: 93px 0 110px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--checkbox {
    padding: 64px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--button {
    padding: 64px 0 44px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .forms__item-desc {
      margin-top: 20px;
    }
  }

  &__block--link {
    padding: 56px 0 10px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--button-icon {
    padding: 64px 0 10px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 15px;
    }
  }

  &__block--tabs {
    padding: 102px 0;

    .tabs__list {
      justify-content: center;
    }
  }

  &__block--tabs-active {
    padding: 62px 0 25px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 38px;
      }
    }

    .forms__item-desc {
      margin-top: 10px;
    }
  }

  &__block--switcher-example {
    padding: 84px 0;

    .switcher__list {
      justify-content: center;
    }
  }

  &__block--switcher {
    padding: 64px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 5px;
    }
  }

  &__block--switcher-text-example {
    padding: 96px 0;
  }

  &__block--switcher-icon-example {
    padding: 56px 0;
  }

  &__block--switcher-group-example {
    padding: 64px 0;

    .switcher__item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 5px;
    }

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 38px;
      }
    }
  }

  &__block--toggle {
    padding: 64px 0;

    .forms__item-desc {
      margin-top: 10px;
    }

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__block--pagination {
    padding: 80px 0;

    .forms__item-desc {
      margin-top: 10px;
    }
  }

  &__block--pagination-states {
    padding: 64px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 10px;
    }
  }

  &__block--tags {
    padding: 104px 0;
  }

  &__block--tags-list {
    padding: 64px 0;
  }

  &__block--tags-big {
    padding: 100px 0;
  }

  &__block--tags-big-list {
    padding: 64px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 10px;
    }
  }

  &__block--loaders-types {
    padding: 40px 0 108px;
  }

  &__block--loaders-colors {
    padding: 42px 0 46px;
  }

  &__block--tooltip-item-positions {
    padding: 109px 0 184px;
  }

  &__block--tooltip-item-types {
    padding: 35px 0;

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--hint-item-positions {
    padding: 137px 0;
  }

  &__block--hint-item-types {
    padding: 35px 0;

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--range {
    padding: 90px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 90px;
      }
    }
  }

  &__block--range-states {
    padding: 48px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 56px;
      }
    }
  }

  &__block--accordion {
    padding: 40px 0;

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--accordion-states {

    .forms__item {
      .forms__item-action {
        background-color: $grey200;
      }

      &:first-child {
        .forms__item-action {
          padding-top: 48px;
        }

        .forms__item-desc {
          margin-top: 120px;
        }
      }

      &:not(:last-child) {
        .forms__item-action {
          padding-bottom: 32px;
        }
      }

      &:last-child {
        .forms__item-action {
          padding-bottom: 48px;
        }

        .forms__item-desc {
          margin-top: 50px;
        }
      }
    }

    .forms__item-desc {
      margin-top: 72px;
    }
  }

  &__block--table {
    padding: 56px 0 64px;
  }

  &__block--table-titles {
    padding: 64px 0;

    .forms__item-desc {
      margin-top: -62px;
    }
  }

  &__block--modal-content {
    padding: 50px 0;

    .forms__item:not(:last-child) {
      margin-bottom: 65px;
    }

    .forms__item-desc {
      margin-top: 25px;
    }

    .modal__content {
      padding-top: 0;
    }

    .modal__fields {
      margin-bottom: 0;
    }
  }










  &__item {
    display: flex;
  }

  &__item-action {
    width: 75%;
    flex-shrink: 0;
    max-width: 612px;

    & > * {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item-desc {
    @include font(12px, 18px);
    color: $grey400;
    margin: 43px 0 0 24px;
  }

  &__input-block {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  &__select-block {
    margin-left: auto;
    margin-right: auto;
  }

  &__calendar-dropdown-wrapper {
    width: 328px;
    display: flex;
  }

  &__calendar-dropdown-month {
    margin-right: 65px;
  }

  &__date-cell-block {
    padding: 0 58px;
  }

  &__date-cell {
    @include font(15px, 24px);
    color: $dark-grey;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    border-radius: 2px;

    &--hover {
      position: relative;
      color: $blue;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 22px;
        width: 24px;
        height: 24px;
        background-image: url("../img/pointer.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--picked {
      background-color: $blue;
      color: #fff;
    }

    &--range {
      background-color: rgba(40, 88, 255, 0.2);
      color: $blue;
    }

    &--current {
      border: 1px solid $blue;
    }

    &--disabled {
      color: $grey300;
    }
  }

  &__dropdown-block {
    max-width: 368px;
  }

  &__dropdown {
    width: 123px;

    select {
      width: 100%;
    }
  }

  &__checkbox-item {
    padding: 0 60px;
    font-size: 0;
    line-height: 0;

    .checkbox:first-child {
      margin-right: 32px;
    }
  }

  &__checkbox-item-group {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__button-item {
    font-size: 0;
    line-height: 0;
    padding: 0 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: 1340px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button-group {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  &__btn {
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link-item {
    padding: 0 64px;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__button-icon-item {
    padding: 0 68px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    button {
      &:not(:last-child) {
        margin-right: 72px;
      }
    }
  }

  &__tabs-item {
    padding: 0 64px;
  }

  &__switcher-item {
    padding: 0 64px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__switcher-text-item {
    padding: 0 66px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__switcher-text-icon-item {
    padding: 0 40px;

    .switcher__list {
      justify-content: center;
    }
  }

  &__switcher-icon-item {
    .switcher__list {
      justify-content: center;
    }
  }

  &__toggle-item {
    padding: 0 64px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__pagination-item {
    padding: 0 20px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__pagination-states-item {
    padding: 0 64px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__tags-item {
    padding: 0 20px;

    .tags__item {
      &:not(:last-child) {
        margin-right: 47px;
      }
    }
  }

  &__tags-item-no-text {
    padding: 0 20px;

    .tags__item {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  &__tags-list-item {
    padding: 0 64px;
  }

  &__tags-big-item {
    padding: 0 20px;

    .tags-big__list {
      justify-content: center;
    }
  }

  &__tags-big-list-item {
    padding: 0 64px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .tags-big__item {
      margin-right: 44px;
    }
  }

  &__accordion-item {
    padding: 0 40px;

    .accordion--small {
      max-width: 328px;
      margin: 0 auto;
    }
  }
}

@include mobile {
  .forms {
    &__section {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    &__block {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 45px;

      &:before {
        display: none;
      }
    }

    &__item {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item-action {
      width: auto;
      max-width: none;
    }

    &__item-desc {
      margin: 16px 0 0;
    }

    &__checkbox-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .forms__block.forms__block--date-states {
    padding-bottom: 170px;
  }

  .forms__date-cell-block {
    padding: 0;
  }

  .forms__example {
    width: auto;
    padding: 28px 24px;
  }

  .forms__block--select .forms__item:nth-child(3) {
    margin-bottom: 37px;
  }

  .forms__block--dropdown .forms__item:nth-child(3) {
    margin-bottom: 37px;

    .forms__item-desc {
      margin-top: 200px;
    }
  }

  .forms__block--combo-select .forms__item:nth-child(3) {
    margin-bottom: 37px;

    .forms__item-desc {
      margin-top: 240px;
    }
  }

  .forms__block--combo-select .forms__item:nth-child(7) {
    margin-bottom: 57px;
  }

  .forms__block--combo-select .forms__item:nth-child(8) {
    margin-bottom: 87px;
  }

  .forms__block--multi-select .forms__item:nth-child(3),
  .forms__block--multi-select .forms__item:nth-child(4) {
    margin-bottom: 37px;
  }

  .forms__block--multi-select .forms__item:nth-child(8) {
    margin-bottom: 57px;
  }

  .forms__block--multi-select .forms__item:nth-child(9) {
    margin-bottom: 87px;
  }

  .forms__block--checkbox .forms__item-desc {
    margin-top: 16px;
  }

  .forms__button-item {
    padding: 0;
  }

  .forms__block--button {
    margin-top: 24px;
  }

  .forms__btn {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .forms__block--button .forms__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .forms__link-item {
    padding: 0;
  }

  .forms__block--link .forms__item-desc {
    margin-top: 16px;
  }

  .forms__link-item {
    flex-direction: column;
    align-items: flex-start;

    &.forms__link-item--loading {
      margin-bottom: 16px;
    }

    .forms__link {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .forms__button-icon-item {
    padding: 0;
  }

  .forms__button-icon-item button:not(:last-child) {
    margin-right: 24px;
  }

  .forms__switcher-item, .forms__tabs-item {
    padding: 0;
  }

  .forms__block--tabs,
  .forms__block--tabs-active {
    &:not(:last-child) {
      margin-top: 40px;
    }

    .tabs__list {
      flex-direction: column;
      padding: 0;
    }

    .tabs__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .tabs__button.active::after {
      bottom: -10px;
    }

    .forms__item-desc {
      margin-top: 20px;
    }
  }

  .forms__block--switcher {
    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__switcher-text-item,
  .forms__switcher-text-icon-item {
    padding: 0;
  }

  .forms__section {
    .switcher-text__block {
      padding: 8px;
    }

    .switcher__list {
      flex-direction: column;
    }

    .switcher__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .forms__block--switcher-group-example {
    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__toggle-item {
    padding: 0;
  }

  .forms__pagination-item {
    padding: 0;
    margin: 0 auto;
  }

  .forms__block--pagination {
    .pagination__btn {
      &:not(:last-child) {
        margin-right: 2px;
      }
    }

    .pagination__btn-content {
      @include font(12px, 18px, 400);
      padding: 4px 11px;
    }

    .pagination__prev {
      margin-right: 8px;
    }

    .pagination__next {
      margin-left: 8px;
    }

    .pagination__arrow-content {
      width: 26px;
      height: 26px;
    }

    .forms__item-desc {
      margin-top: 24px;
    }
  }

  .forms__block--pagination-group {
    .forms__pagination-item {
      &:nth-child(1) {
        .pagination__btn {
          &:nth-child(5),
          &:nth-child(4) {
            display: none;
          }
        }
      }

      &:nth-child(2) {
        .pagination__btn {
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(7) {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        .pagination__btn {
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }

  .forms__pagination-states-item {
    padding: 0;
  }

  .forms__block--pagination-states {
    .forms__item-desc {
      margin-top: 24px;
    }
  }

  .forms__tags-item {
    padding: 0;

    .tags__block {
      flex-direction: column;
    }

    .tags__item {
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }
  }

  .forms__tags-item-no-text {
    padding: 0;

    .tags__block {
      flex-direction: column;
    }

    .tags__item {
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }
  }

  .forms__tags-list-item {
    padding: 0;
  }

  .forms__tags-big-item {
    padding: 0;

    .tags-big__list {
      flex-direction: column;
    }

    .tags-big__item {
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }
  }

  .forms__tags-big-list-item {
    padding: 0;

    .tags-big__item {
      &:not(:last-child) {
        margin: 0 16px 0 0;
      }
    }
  }

  .forms__loader-item.loader {
    .loader__download {
      padding: 0;
      text-align: left;
      margin: 0 0 24px;
    }

    .loader__types {
      .link {
        margin-right: 24px;
      }
    }

    .loader__colors {
      padding: 0;
    }
  }

  .forms__block--loaders-types {
    margin-bottom: 24px;

    .loader__types.no-mobile {
      display: none;
    }
  }

  .forms__block--loaders-colors {
    margin-top: 16px;

    .loader__big-colors {
      padding: 0;
    }
  }

  .forms__block--tooltip-item-types {
    margin-top: 100px;

    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__block--hint-item-positions {
    margin-top: 100px;
  }

  .forms__block--hint-item-types {
    margin-top: 240px;

    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__block--range,
  .forms__block--range-states {
    margin-top: 80px;

    .forms__item-action {
      width: 100%;

      .range {
        margin-left: 0;
        margin-right: 0;
      }

      .range__state-block {
        padding: 0;
      }
    }
  }

  .forms__accordion-item {
    padding: 0;
  }

  .forms__block--accordion-states {
    .forms__item-action {
      padding: 32px 16px;
    }

    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__block--accordion-states .forms__item:first-child .forms__item-desc {
    margin-top: 16px;
  }

  .forms__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .forms__block--accordion-states .forms__item:last-child .forms__item-action {
    padding-bottom: 34px;
    padding-top: 34px;
  }

  .forms__block--accordion-states .forms__item:last-child .forms__item-desc {
    margin-top: 16px;
  }

  .forms__block--accordion .forms__item-desc {
    margin-top: 16px;
  }

  .forms__block--table {
    .table {
      min-width: 480px;
    }

    .table--payment {
      min-width: 550px;
    }

    .forms__item {
      position: relative;
      max-width: 100%;
      padding: 0 24px;
      overflow-x: auto;
    }
  }

  .forms__block--table-titles {
    margin-bottom: 60px;
    height: auto;

    .table-part {
      padding: 0;
    }

    .forms__item-desc {
      margin-top: 16px;
    }
  }

  .forms__box {
    width: 100%;
  }

  .main--modals {
    .forms__section {
      & > *:not(.forms__box) {
        margin-left: 24px;
        margin-right: 24px;
      }
    }
  }

  .forms__box--border {
    border: none;
    border-radius: 0;
  }

  .forms__block--modal-content {
    .modal__close-btn-icon {
      right: auto;
      left: 24px;
    }
  }
}
