.forms {
  &__select-block {
    width: 328px;
  }

  &__validation-title {
    @include font(18px, 24px, 500);
    color: $dark-grey;
    margin: 40px 0 0;
  }

  &__validation-desc {
    max-width: 612px;
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__example {
    padding: 40px;
    background-color: $grey200;
    margin-top: 24px;
    width: 75%;
    max-width: 612px;
  }

  &__block {
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 75%;
      max-width: 612px;
      height: 100%;
      border: 1px dashed #7B61FF;
      border-radius: 5px;
      pointer-events: none;

      // background-image:
      //   linear-gradient(to right, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to top, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to right, #7B61FF 66%, rgba(255,255,255,0) 0%),
      //   linear-gradient(to top, #7B61FF 66%, rgba(255,255,255,0) 0%);
      // background-position:
      //   bottom,
      //   left,
      //   top,
      //   right;
      // background-size:
      //   10px 1px,
      //   1px 10px,
      //   10px 1px,
      //   1px 10px;
      // background-repeat:
      //   repeat-x,
      //   repeat-y,
      //   repeat-x,
      //   repeat-y;
    }
  }

  &__block--input {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--date {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 357px;
      }
    }
  }

  &__block--date-states {
    padding: 72px 0 260px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }

    .forms__item-desc {
      margin-top: 24px;
    }
  }

  &__block--date-cells {
    padding: 45px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .forms__item-desc {
      margin-top: 7px;
    }
  }

  &__block--select {
    padding: 77px 0 88px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 260px;
      }
    }
  }

  &__block--textarea {
    padding: 93px 0 96px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--dropdown {
    padding: 80px 0 20px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:nth-child(3) {
        margin-bottom: 230px;
      }
    }

    .forms__item-desc {
      margin-top: 5px;
    }
  }

  &__block--combo-select {
    padding: 77px 0 150px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3) {
        margin-bottom: 260px;
      }

      &:nth-child(7) {
        margin-bottom: 93px;
      }
    }
  }

  &__block--multi-select {
    padding: 77px 0 150px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 260px;
      }

      &:nth-child(8) {
        margin-bottom: 93px;
      }
    }
  }

  &__block--upload {
    padding: 93px 0 110px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__block--checkbox {
    padding: 64px 0;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--button {
    padding: 64px 0 44px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .forms__item-desc {
      margin-top: 20px;
    }
  }

  &__block--link {
    padding: 56px 0 10px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 0;
    }
  }

  &__block--button-icon {
    padding: 64px 0 10px;

    .forms__item {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .forms__item-desc {
      margin-top: 15px;
    }
  }

  &__item {
    display: flex;
  }

  &__item-action {
    width: 75%;
    flex-shrink: 0;
    max-width: 612px;

    & > * {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item-desc {
    @include font(12px, 18px);
    color: $grey400;
    margin: 43px 0 0 24px;
  }

  &__input-block {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  &__select-block {
    margin-left: auto;
    margin-right: auto;
  }

  &__calendar-dropdown-wrapper {
    width: 328px;
    display: flex;
  }

  &__calendar-dropdown-month {
    margin-right: 65px;
  }

  &__date-cell-block {
    padding: 0 58px;
  }

  &__date-cell {
    @include font(15px, 24px);
    color: $dark-grey;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 32px;
    border-radius: 2px;

    &--hover {
      position: relative;
      color: $blue;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 22px;
        width: 24px;
        height: 24px;
        background-image: url("../img/pointer.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &--picked {
      background-color: $blue;
      color: #fff;
    }

    &--range {
      background-color: rgba(40, 88, 255, 0.2);
      color: $blue;
    }

    &--current {
      border: 1px solid $blue;
    }

    &--disabled {
      color: $grey300;
    }
  }

  &__dropdown-block {
    width: 368px;
  }

  &__dropdown {
    width: 123px;

    select {
      width: 100%;
    }
  }

  &__checkbox-item {
    padding: 0 60px;
    font-size: 0;
    line-height: 0;

    .checkbox:first-child {
      margin-right: 32px;
    }
  }

  &__checkbox-item-group {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__button-item {
    font-size: 0;
    line-height: 0;
    padding: 0 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: 1340px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button-group {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

  &__btn {
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link-item {
    padding: 0 64px;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__button-icon-item {
    padding: 0 68px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    button {
      &:not(:last-child) {
        margin-right: 72px;
      }
    }
  }
}
