.grid {
  &__block {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__columns-desc {
    max-width: 600px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 106px 64px;
    margin-top: 40px;
    background-color: $grey200;
  }

  &__column {
    background-color: $grey300;
    margin-bottom: 16px;
    height: 64px;

    &--100 {
      width: 100%;
    }

    &--50 {
      width: calc((100% - 16px) / 2);
    }

    &--33 {
      width: calc((100% - 32px) / 3);
    }

    &--25 {
      width: calc((100% - 48px) / 4);
    }

    &--17 {
      width: calc((100% - 64px) / 6);
    }
  }

  &__breakpoints {
    padding: 40px 48px 80px;
    margin-top: 40px;
    background-color: $grey200;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__breakpoints-title {
    width: 100%;
    margin-bottom: 57px;
  }

  &__breakpoints-name {
    @include font(15px, 24px, 500);
    color: $dark-grey;
    margin: 0;
  }

  &__breakpoints-width {
    @include font(14px, 24px);
    color: $grey400;
    margin: 0;
  }

  &__breakpoints-gaps {
    display: flex;
    margin-bottom: 16px;
  }

  &__breakpoints-gap {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-right: 167px;
    }

    &--mobile {
      &:not(:last-child) {
        margin-right: 42px;
      }
    }
  }

  &__breakpoints-gap-width {
    @include font(14px, 22px);
    color: $dark-grey;
    margin: 0 0 8px;
  }

  &__breakpoints-columns {
    display: flex;
    margin-bottom: 12px;
  }

  &__breakpoints-column {
    width: 24px;
    height: 200px;
    background-color: $grey300;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__breakpoints-total {
    text-align: center;
  }

  &__breakpoints-total-columns,
  &__breakpoints-total-width {
    @include font(14px, 22px, 500);
    color: $dark-grey;
  }

  &__breakpoints-total-columns {
    margin: 9px 0 0;
  }

  &__breakpoints-total-width {
    margin: 2px 0 0;
  }

  &__breakpoints-table {
    margin-top: 40px;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    col {
      &:first-child {
        width: 19%;
      }

      &:nth-child(2) {
        width: 24%;
      }

      &:nth-child(3) {
        width: 16%;
      }

      &:nth-child(4) {
        width: 21%;
      }

      &:nth-child(5) {
        width: 20%;
      }
    }

    th {
      text-align: left;
      @include font(15px, 24px, 500);
      color: $dark-grey;
      padding: 24px 0;
      border-bottom: 1px solid $grey300;
    }

    td {
      @include font(15px, 24px);
      color: $dark-grey;
      padding: 24px 0 0;
    }
  }

  &__breakpoints-table-mobile {
    display: none;
  }

  &__gaps {
    display: flex;
    padding: 120px 104px;
    background-color: $grey200;
    margin-top: 40px;
  }

  &__gaps-grid {
    width: 80px;
    height: 80px;
    margin-right: 77px;
  }

  &__gaps-gap {
    padding-top: 25px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__gaps-width {
    @include font(14px, 22px);
    color: $dark-grey;
    margin: 0 0 8px;
    text-align: center;
  }

  &__text {
    display: flex;
    margin-top: 40px;
    padding: 128px 100px 128px 248px;
    background-color: $grey200;
  }

  &__text-p {
    @include font(24px, 30px, 500);
    color: $dark-grey;
    margin: 0 16px 0 0;
    max-width: 440px;
    background-color: $grey300;
  }

  &__text-height {
    display: flex;
    align-items: center;
  }

  &__text-height-value {
    @include font(14px, 22px);
    margin: 0 0 0 11px;
    color: $dark-grey;
  }

  &__filets {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 187px 100px 184px 140px;
    background-color: $grey200;
  }

  &__filets-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 55px;
    }
  }

  &__filets-element {
    @include font(16px, 22px, 500);
    position: relative;
    margin-top: 9px;
    color: $grey400;
    background-color: $grey300;

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      display: block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
    }

    &--btn {
      padding: 21px 40px;
      border-radius: 32px;
      margin-right: 5px;

      &::after {
        width: 34px;
        height: 34px;
        border-top-right-radius: 34px;
      }
    }

    &--form {
      @include font(15px, 22px, 400);
      width: 240px;
      padding: 17px 40px 17px 20px;
      border-radius: 2px;
      margin-right: 12px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("../img/drop_down_filled-grey.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &::after {
        width: 24px;
        height: 24px;
        border-top-right-radius: 2px;
      }
    }

    &--option {
      @include font(15px, 24px, 400);
      padding: 4px 16px;
      border-radius: 2px;
      margin-right: 12px;

      &::after {
        width: 24px;
        height: 24px;
        border-top-right-radius: 2px;
      }
    }
  }

  &__filets-value {
    @include font(14px, 22px);
    color: $dark-grey;
    margin: 0;
  }
}

@include mobile {
  .grid {
    &__block {
      &:not(:last-child) {
        margin-bottom: 48px;
      }

      & > *:not(.grid__columns):not(.grid__breakpoints):not(.grid__gaps):not(.grid__text):not(.grid__filets) {
        margin-left: 24px;
        margin-right: 24px;
      }
    }

    &__columns {
      margin-top: 24px;
      padding: 40px 24px 32px;
    }

    &__column {
      height: 30px;
      margin-bottom: 8px;

      &--100 {
        width: 100%;
      }

      &--50 {
        width: calc((100% - 8px) / 2);
      }

      &--33 {
        width: calc((100% - 16px) / 3);
      }

      &--25 {
        width: calc((100% - 24px) / 4);
      }

      &--17 {
        width: calc((100% - 40px) / 6);
      }
    }

    &__breakpoints {
      margin-top: 24px;
      padding: 40px 24px;
    }

    .grid__breakpoints-columns--desktop
    .grid__breakpoints-column {
      width: 15px;
      height: 128px;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    &__breakpoints-total {
      img.grid__breakpoints-total-img-desktop {
        width: 240px;
      }
    }

    .grid__breakpoints-gaps--desktop
    .grid__breakpoints-gap {
      &:not(:last-child) {
        margin-right: 97px;
      }
    }

    &__breakpoints-table {
      display: none;
    }

    &__breakpoints-table-mobile {
      display: block;

      &-list {
        margin: 0;
        padding: 0;
        padding-top: 32px;
        max-width: 700px;
      }

      &-item {
        &:not(:last-child) {
          border-bottom: 1px solid $grey300;
        }
      }

      &-info {
        padding: 24px 0;
      }

      &-info-line {
        display: flex;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &-name,
      &-value {
        @include font(15px, 24px, 400);
        color: $dark-grey;
        margin: 0;
      }

      &-name {
        font-weight: 500;
        padding-right: 24px;
        width: 60%;
      }

      &-value {
        width: 40%;
      }
    }

    &__gaps {
      margin-top: 24px;
      padding: 62px 24px;
      flex-direction: column;
      align-items: center;

      &-grid {
        margin: 0 0 40px;
      }

      &-gap {
        padding: 0;

        &:not(:last-child) {
          margin: 0 0 24px;
        }
      }
    }

    &__text {
      margin-top: 24px;
      padding: 80px 24px;
      justify-content: center;

      &-p {
        @include font(14px, 22px, 500);
        max-width: 242px;
        padding: 8px 6px;
      }
    }

    &__filets {
      flex-direction: column;
      padding: 60px 10px;

      &-item {
        min-width: 280px;

        &:not(:last-child) {
          margin: 0 0 32px;
        }
      }
    }
  }
}
