.main-nav {
  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include font(15px, 24px, 500);
    color: $dark-grey;
  }

  &__sublist {
    margin: 0;
    padding: 16px 0 24px;
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    @include link-reset;
    color: $grey400;
    transition: color 0.2s;

    &--active {
      color: $blue;
    }

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

@include mobile {
  .main-nav {
    &__list {
      background-color: #fff;
      padding: 48px 24px 72px;
    }
  }
}
