.main {
  display: flex;
  padding-bottom: 200px;
  padding-top: 64px;

  &__main-nav {
    width: 294px;
    flex-shrink: 0;
    margin-right: 24px;
  }

  &__content {
    flex-grow: 1
  }
}

@media(max-width: 1399px) {
  .main {
    &__main-nav {
      width: auto;
      flex-grow: 1;
    }

    &__content {
      flex-grow: 0;
      min-width: 930px;
    }
  }
}

@include mobile {
  .main {
    padding-top: 40px;
    padding-bottom: 75px;

    &__main-nav {
      width: 305px;
      max-width: 80%;
      height: 100%;
      margin-right: 0;
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      z-index: 1700;
      transform: translateX(-100%);
      transition: transform 0.3s;

      &.js-opened {
        transform: translateX(0);
      }
    }

    &__content {
      width: 100%;
      min-width: auto;
    }
  }

  .main--grid,
  .main--icons,
  .main--tables,
  .main--modals,
  .main--common-rules,
  .main--prom-materials {
    padding-left: 0;
    padding-right: 0;
  }
}
