.programs {
  &__block {
    position: relative;
    border: 1px solid #D1D8E1;
    padding: 40px;
    margin-top: 32px;

    &--grey {
      background-color: $grey200;
      border: none;
    }
  }

  &__link-block {
    @include font(15px, 24px, 400);
    color: $dark-grey;
    display: flex;

    .link {
      margin-left: auto;
    }
  }

  &__content-block {
    max-width: 700px;
    margin: 0 auto;
    padding: 77px 0 100px;
    display: flex;
    justify-content: space-around;

    &--cloud {
      max-width: 450px;
      padding: 64px 0 60px;
    }

    &--space {
      max-width: 690px;
      justify-content: space-between;
      padding: 48px 0 60px;
    }

    &--size {
      max-width: 730px;
      flex-direction: column;
      padding: 27px 0 60px;
    }

    &--wrong-logo {
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 90px 0 0;
      max-width: 690px;
      margin-bottom: -40px;

      &::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 24px;
        width: 48px;
        height: 48px;
        background-image: url("../img/bad.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &--app {
      padding: 36px 0 60px;
    }

    &--app-pages {
      padding: 75px 0 50px;
    }

    &--app-devices {
      padding: 61px 0 43px;

      .programs__content-item {
        max-width: 220px;

        &:nth-child(2) {
          .programs__content-desc {
            max-width: 150px;
          }
        }
      }

      .programs__content-img-block {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__content-title {
    @include font(15px, 24px, 400);
    color: $dark-grey;
    margin: 0 0 8px;
    text-align: center;
  }

  &__content-desc {
    @include font(12px, 18px, 400);
    color: $grey400;
    margin: 0 auto;
    text-align: center;
  }

  &__content-side {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:last-of-type {
      margin-top: 90px;
    }
  }

  &__size-title-block {
    @include font(14px, 22px, 400);
    margin: 0;
    color: $grey400;
    display: flex;
    margin-bottom: 55px;

    p {
      width: 50%;
      padding-left: 45px;
    }
  }

  &__size-item {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 15px;
    }

    span {
      display: block;
      min-width: 44px;
      text-align: right;
    }

    &--small {
      .programs__size-my-comfort {
        width: 130px;
        height: auto;
      }

      .programs__size-cloud {
        width: 70px;
        height: auto;
      }
    }

    &--big {
      min-width: 390px;

      .programs__size-my-comfort {
        width: 292px;
        height: auto;
      }

      .programs__size-cloud {
        width: 185px;
        height: auto;
      }
    }
  }

  &__wrong-logo-item {
    position: relative;
    min-width: 180px;
    margin-bottom: 100px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 109px;
      height: 109px;
      background-image: url("../img/red-cross.svg");
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(-50%, -50%);
    }
  }

  &__app {
    .comparison {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__equipment {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    &-item {
      width: calc((100% - 24px) / 2);
      background-color: $grey200;
      padding: 40px;
      min-height: 280px;
      display: flex;
      flex-direction: column;
    }

    &-title {
      @include font(15px, 24px, 500);
      color: $dark-grey;
      margin: 0 0 auto;
    }

    &-content {
      display: flex;
      align-items: flex-end;
      margin-top: 8px;
    }

    &-desc {
      @include font(15px, 24px, 400);
      color: $dark-grey;
      margin: 0;
      padding-right: 20px;
    }

    &-lang {
      @include font(15px, 24px, 400);
      color: $grey400;
      margin: 0 0 0 auto;
      flex-shrink: 0;
    }
  }
}
