.programs {
  &__block {
    position: relative;
    border: 1px solid #D1D8E1;
    padding: 40px;
    margin-top: 32px;
  }

  &__link-block {
    display: flex;

    .link {
      margin-left: auto;
    }
  }

  &__content-block {
    max-width: 700px;
    margin: 0 auto;
    padding: 77px 0 100px;
    display: flex;
    justify-content: space-around;

    &--cloud {
      max-width: 450px;
      padding: 64px 0 60px;
    }

    &--space {
      max-width: 690px;
      justify-content: space-between;
      padding: 48px 0 60px;
    }

    &--size {
      max-width: 730px;
      flex-direction: column;
      padding: 27px 0 60px;
    }

    &--wrong-logo {
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 90px 0 0;
      max-width: 690px;
      margin-bottom: -40px;

      &::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 24px;
        width: 48px;
        height: 48px;
        background-image: url("../img/bad.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__content-side {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:last-of-type {
      margin-top: 90px;
    }
  }

  &__size-title-block {
    @include font(14px, 22px, 400);
    margin: 0;
    color: $grey400;
    display: flex;
    margin-bottom: 55px;

    p {
      width: 50%;
      padding-left: 45px;
    }
  }

  &__size-item {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 15px;
    }

    span {
      display: block;
      min-width: 44px;
      text-align: right;
    }

    &--small {
      .programs__size-my-comfort {
        width: 130px;
        height: auto;
      }

      .programs__size-cloud {
        width: 70px;
        height: auto;
      }
    }

    &--big {
      min-width: 390px;

      .programs__size-my-comfort {
        width: 292px;
        height: auto;
      }

      .programs__size-cloud {
        width: 185px;
        height: auto;
      }
    }
  }

  &__wrong-logo-item {
    position: relative;
    min-width: 180px;
    margin-bottom: 100px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 109px;
      height: 109px;
      background-image: url("../img/red-cross.svg");
      background-repeat: no-repeat;
      background-size: cover;
      transform: translate(-50%, -50%);
    }
  }
}
