button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
}

.btn {
  //all: initial;
  //margin: 1em;
  display: inline-block;
}

.btn__content {
  @include font(18px, 24px, 500);
  padding: 20px 40px;
  cursor: pointer;
  display: inline-block;
  border-radius: 32px;
  transition: background-color 0.2s, color 0.2s;
}

.btn--m .btn__content {
  @include font(15px, 24px, 500);
  padding: 16px 32px;
}

.btn--s .btn__content {
  @include font(14px, 22px, 500);
  padding: 9px 20px;
}

.btn-primary {
  .btn__content {
    background-color: $dark-grey;
    color: #fff;
  }
}


/* Fixing the Safari bug for `<button>`s overflow */
.btn__content {
    position: relative;
}

/* All the states on the inner element */
.btn-primary:hover > .btn__content  {
    background-color: $blue;
}

.btn-primary:active > .btn__content  {
    background-color: $deep-blue;
}

.btn:focus > .btn__content  {
    outline: 2px solid $blue;
    outline-offset: 2px;
}

/* Removing default outline only after we've added our custom one */
.btn:focus,
.btn__content:focus {
    outline: none;
}
