.checkbox {
  display: inline-block;
  font-size: 0;
  line-height: 0;

  &__area {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: $grey200;
    border-radius: 4px;
  }

  &__input[type="radio"] ~ .checkbox__area {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__input[type="radio"] ~ .checkbox__area {
    border-radius: 50%;
  }

  &__outline {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 8px;
  }

  &__input[type="radio"] ~ .checkbox__area .checkbox__outline {
    border-radius: 50%;
  }

  &__text {
    @include font(15px, 24px);
    color: $dark-grey;
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
  }

  &__input:disabled ~ .checkbox__text {
    color: $grey400;
  }

  &__input:checked ~ .checkbox__area {
    background-color: $dark-grey;
    background-image: url("../img/check-white.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__input[type="radio"]:checked ~ .checkbox__area {
    background-image: none;

    &::after {
      background-color: #fff;
    }
  }

  &__input:disabled ~ .checkbox__area {
    background-color: $grey300;
  }

  &__input:checked:disabled ~ .checkbox__area {
    background-color: $grey300;
    background-image: url("../img/check-grey.svg");
  }

  &__input[type="radio"]:checked:disabled ~ .checkbox__area {
    background-image: none;

    &::after {
      background-color: $grey400;
    }
  }

  &__input.focused ~ .checkbox__area .checkbox__outline {
    border: 2px solid $blue;
  }

  &__input.error {
    & ~ .checkbox__area {
      border: 1px solid $fail;
    }

    & ~ .checkbox__area .checkbox__outline {
      top: -5px;
      left: -5px;
    }
  }

  &__input.show-focuse:disabled {
    & ~ .checkbox__area {
      background-color: $grey200;
    }

    & ~ .checkbox__area .checkbox__outline {
      border: 2px solid $blue;
    }

    & ~ .checkbox__text {
      color: $dark-grey;
    }
  }

  &__input.show-focuse:checked:disabled {
    & ~ .checkbox__area {
      background-color: $dark-grey;
      background-image: url("../img/check-white.svg");
    }

    & ~ .checkbox__area .checkbox__outline {
      border: 2px solid $blue;
    }

    & ~ .checkbox__text {
      color: $dark-grey;
    }
  }

  &__input[type="radio"].show-focuse:checked:disabled {
    & ~ .checkbox__area {
      background-image: none;

      &::after {
        background-color: #fff;
      }
    }
  }
}
