.checkbox {
  display: inline-block;
  font-size: 0;
  line-height: 0;

  &__area {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: $grey200;
    border-radius: 4px;
  }

  &__outline {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 2px solid transparent;
  }

  &__input:checked ~ .checkbox__area {
    background-color: $dark-grey;
    background-image: url("../img/check-white.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__input.focused ~ .checkbox__area .checkbox__outline {
    outline: 2px solid red;
  }

}
