@keyframes rotation {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.input-block {
  display: flex;
  flex-direction: column;

  &__label {
    @include font(14px, 22px);
    color: $grey400;
    margin: 0 0 5px;
  }
}

.input-wrapper {
  position: relative;

  &.date-placeholder {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "дд.мм.гггг";
      padding-left: 20px;
      padding-top: 16px;
      height: 100%;
      color: $grey400;
      font-size: 15px;
      line-height: 23px;

    }
  }
}

.input {
  @include font(15px, 24px);
  color: $dark-grey;
  width: 100%;
  min-height: 56px;
  padding: 0 52px 0 19px;
  border: 1px solid transparent;
  background-color: $grey200;
  border-radius: 2px;
  transition: border-color 0.2s;

  &::placeholder {
    color: $grey400;
    opacity: 1;
  }

  &.error {
    border-color: $fail;

    &:hover,
    &:focus {
      border-color: $fail;
    }
  }

  &:hover {
    border-color: $grey300;
  }

  &:focus {
    border-color: $grey400;
  }

  &:disabled {
    border-color: transparent;
    background-color: $grey300;
    color: $grey400;
  }
}

.input-block__message {
  @include font(12px, 18px);
  color: $fail;
  margin: 8px 0 0;
}

.input-block--hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 93px;
    width: 24px;
    height: 24px;
    background-image: url("../img/pointer.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.input-block--hover .input {
  border: 1px solid $grey300;
  background-color: $grey200;
}

.input-block--focus {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 72px;
    width: 1px;
    height: 24px;
    background-color: $dark-grey;
  }
}

.input-block--focus .input {
  border: 1px solid $grey400;
  background-color: $grey200;
}

.input-block--filled .input {
  border: none;
  background-color: $grey200;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  &--loading {
    width: 20px;
    height: 20px;
    background-image: url("../img/loader.svg");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotation 0.7s infinite linear;
  }
}

.input-password-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/eye_off.svg");
  border: none;
  background-color: transparent;
  transform: translateY(-50%);

  &:hover {
    cursor: pointer;
  }

  &.shown {
    background-image: url("../img/eye.svg");
  }
}

