.select-block {
  .select2-selection {
    height: 56px;
    border: none;
    background-color: $grey200;
    border-radius: 2px;
  }

  .select2-selection .select2-selection__rendered {
    @include font(15px, 24px);
    color: $grey400;
    height: 100%;
    line-height: 56px;
    padding-left: 20px;
    padding-right: 56px;
  }

  .select2-selection .select2-selection__arrow {
    height: 100%;
    width: 40px;

    b {
      width: 24px;
      height: 24px;
      background-image: url("../img/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0;
      margin-top: -12px;
      left: 0;
      border: none;
    }
  }

  .select2-container--open .select2-selection .select2-selection__arrow {
    b {
      transform: rotate(180deg);
    }
  }
}

.select {
  width: 100%;
}

.select2-container {
  width: 100% !important;
}

.select2-container--open .select-dropdown {
  top: 8px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 4px 24px rgba(67, 72, 78, 0.2);

  .select2-search {
    position: absolute;
    top: -64px;
    padding: 0;
    height: 56px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;

    input {
      @include font(15px, 24px);
      color: $dark-grey;
      background-color: transparent;
      height: 30px;
      margin-top: -2px;
      padding-left: 20px;
      border: none;

      &.inputed {
        background-color: $grey200;
      }
    }
  }
}


