.select-block {
  .select2-selection {
    height: 56px;
    border: none;
    background-color: $grey200;
    border-radius: 2px;
  }

  .select2-container--disabled .select2-selection {
    background-color: $grey300;
  }

  .select2-selection .select2-selection__placeholder {
    color: $grey400;
  }

  .select2-container--disabled:hover,
  .select2-container--disabled:focus-within {
    border: 1px solid transparent;
  }

  .select2-selection .select2-selection__rendered {
    @include font(15px, 24px);
    color: $dark-grey;
    height: 100%;
    line-height: 56px;
    padding-left: 20px;
    padding-right: 56px;
  }

  .select2-selection .select2-selection__arrow {
    height: 100%;
    width: 40px;

    b {
      width: 24px;
      height: 24px;
      background-image: url("../img/select-arrow.svg");
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0;
      margin-top: -12px;
      left: 0;
      border: none;
    }
  }

  .select2-container--open .select2-selection .select2-selection__arrow {
    b {
      transform: rotate(180deg);
    }
  }
}

.select {
  width: 100%;
}

.select2 {
  border-radius: 2px;
  border: 1px solid transparent;
  transition: border-color 0.2s;

  &:hover {
    border: 1px solid $grey300;
  }

  &:focus-within {
    border: 1px solid $grey400;
  }
}

.select2-container {
  //width: 100% !important;
}

.js-select-combo + .select2-container--open {
  border: 1px solid $grey400;
}

.select + .select2-container--open {
  border: 1px solid $grey400;
}

.select2-container--open .select-dropdown {
  top: 8px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 4px 24px rgba(67, 72, 78, 0.2);

  .select2-search {
    position: absolute;
    top: -64px;
    padding: 0;
    height: 56px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;

    input {
      @include font(15px, 24px);
      color: $dark-grey;
      background-color: transparent;
      height: 30px;
      margin-top: -2px;
      margin-left: 1px;
      padding-left: 20px;
      border: none;

      &.inputed {
        background-color: $grey200;
      }

    }
  }

  &.select2-dropdown--above .select2-search {
    top: auto;
    bottom: -66px;
  }

  &.select-dropdown--opened .select2-search {
    bottom: auto;
    top: -64px;
  }

  &.select-dropdown--opened {
    top: 8px;
  }

  &.select-dropdown--opened.select2-dropdown--above {
    top: -8px;
  }

  .select2-results {
    max-height: 216px;
  }

  .select2-results__options {
    max-height: 216px;
    padding: 8px 0;
  }

  .select2-results__option {
    @include font(15px, 24px);
    color: $dark-grey;
    padding: 8px 20px;

    &--highlighted {
      background-color: $grey200;
    }
  }

  .select2-results__option--selected {
    background-color: #fff;
    color: $grey400;
  }
}

.select2-container--open .select2-dropdown--above {
  top: -8px;
}

.select2-container--open .select-dropdown--single {
  input {
    display: none;
  }
}

.select2-container--open .select-dropdown--opened {
  &.select2-dropdown--above {
    transform: translateY(calc(100% + 72px));
  }
}

.select--hover:disabled + .select2 {
  position: relative;
  border: 1px solid $grey300;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 93px;
    width: 24px;
    height: 24px;
    background-image: url(../img/pointer.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .select2-selection {
    background-color: $grey200;
  }
}

.select--focus + .select2 {
  border: 1px solid $grey400;
}

.select--error + .select2 {
  border: 1px solid $fail;
}

.select:not(.select--hover):not(.select--focus):disabled + .select2 {
  .select2-selection__arrow b {
    opacity: 0.4;
  }
}

.select2-results__options .select2-results__option.select2-results__message,
.select2-results__options .select2-results__option.loading-results {
  text-align: center;
  color: $grey400;
}

.select2-results__options .select2-results__option.loading-results {
  &::after {
    content: "";
    position: absolute;
    top: -36px;
    right: 18px;
    width: 20px;
    height: 20px;
    background-image: url("../img/loader.svg");
    background-color: $grey200;
    animation: rotation 0.7s infinite linear;
  }
}

.select2-dropdown--above:not(.select-dropdown--opened) .select2-results__option.loading-results {
  &::after {
    top: auto;
    bottom: -56px;
  }
}

.js-select-combo-searching + .select2,
.js-select-combo-not-found + .select2,
.js-select-multi-searching + .select2,
.js-select-multi-not-found + .select2 {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }
}

*,
html * {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}


